body
{
    background-color: #121212;
}
.title
{
    font-size: 175px;
}
#title
{
    font-family: 'Lexend', sans-serif;
    color:white;
    text-align: center;
    margin-top: -50px;
}
#youtube
{
    color: white;
    font-family: 'Lexend', sans-serif;
    margin-top: 150px;
    text-align: center;
}
#github
{
    font-family: 'Lexend', sans-serif;
    margin-top: 150px;
    text-align: center;
}
iframe:hover
{
    color: aquamarine;
    
}
iframe
{
    color:#121212;
}
.btop
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
}
.a
{
    text-decoration: none;
    font-size: 100px;
    color:white;
    font-weight: bolder;    
    text-transform: capitalize; 
}
.a:hover
{
    color:aquamarine;
}
