html {
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
}
.title {
  font-size: 175px;
  margin-top: -65px;
}
#title {
  font-family: "Lexend", sans-serif;
  color: white;
  text-align: center;
}
#youtube {
  color: white;
  font-family: "Lexend", sans-serif;
  margin-top: 150px;
  text-align: center;
}
#github {
  font-family: "Lexend", sans-serif;
  margin-top: 150px;
  text-align: center;
}
iframe:hover {
  color: aquamarine;
}
iframe {
  color: #121212;
}
.btop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 25px;
}
.a {
  text-decoration: none;
  font-size: 100px;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}
.a:hover {
  color: aquamarine;
}
span {
  color: aquamarine;
}
span:hover {
  opacity: 67%;
}
button {
  border: none;
  background: #121212;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.link
{
  color:white;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;
  font-size: 25px;
}